---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3" title="Work Experience">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Co-ops/Internships:
      </p>
      <ul class="list-disc list-inside">
        <li>Inc. SWE @ <a class="hover:font-bold font-normal" href={LINKS.nvidia} target="_blank">NVIDIA</a></li>
        <li>SWE @ <a class="hover:font-bold font-normal" href={LINKS.huawei} target="_blank">Huawei</a></li>
        <li>SWE @ <a class="hover:font-bold font-normal" href={LINKS.ford} target="_blank">Ford</a></li>
        <li>SWE @ <a class="hover:font-bold font-normal" href={LINKS.blackberry} target="_blank">BlackBerry</a></li>
        <li>SWE @ <a class="hover:font-bold font-normal" href={LINKS.arctic_wolf} target="_blank">Arctic Wolf</a></li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I'm always on the lookout for new and exciting opportunities. If you have something that might pique my interest, please let me know!
    </p>
  </div>
</Card>
